
@{
    ViewBag.Title = "LeerDatos";
}

<h2>LeerDatos</h2>

@ViewBag.Archivo

@foreach (String tem in ViewBag.Archivo) 
{
    <li>
        <ul>
            @foreach (String item in tem.Split(',')) 
            { 
                <li>
                    @item
                </li>
            }
        </ul>
    </li>

}

